@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

:root {
    font-family: Rajdhani;
    background-color: #282828;
    color: #fff;
    box-sizing: border-box;
    --cell-background-color: #f0f0f0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1,h2,h3,h4,p,label,span {
    pointer-events: none;
    user-select: none;
}

button {
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.frame {
    background-color: #383838;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: auto auto;
    width: 200px;
}

.frame > h2 {
    border-bottom: 2px solid black;
}

.frame > button {
    width: 50%;
}

#lobby {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#player-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#player-list > li {
    margin: 0px;
    padding: 0px;
}

#player-list-container {
    max-width: 450px;
    width: auto !important;
    margin: auto auto;
}

#board-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(11, 50px);
    justify-content: center;
    align-content: center;
    grid-gap: 0px 0px;
    text-align: center;
}

.board-cell {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: var(--cell-background-color);
}

#enemy-board > .board-cell[data-status="none"]:hover {
    cursor: pointer;
}

.board-cell:not([data-status="none"]) {
    cursor: default;
}

.board-cell[data-status="ship"] {
    background-color: blue;
}

.board-cell[data-status="sunk"] {
    background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,#fff 45%,#fff 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, #f00 0%,#f00 43%,#fff 45%,#fff 55%,#f00 57%,#f00 100%) !important;
}

.board-cell[data-status="hit"] {
    background:
        linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 45%,#f00 47%,#f00 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
        linear-gradient(135deg, var(--cell-background-color) 0%, var(--cell-background-color) 43%,#f00 45%,#f00 55%,var(--cell-background-color) 57%,var(--cell-background-color) 100%) !important;
}

.board-cell[data-status="miss"] {
    background: radial-gradient(ellipse at center, #111 0%, #111 47%,#fff,55%,#fff);
}

.board-letter-cell {
    width: 100%;
    height: 100%;
    line-height: 50px;
    vertical-align: middle;
}
