:root {
    background-color: #282828;
    color: #fff;
}

.frame {
    background-color: #383838;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: auto auto;
    width: 200px;
}

.frame > h2 {
    border-bottom: 2px solid black;
}

.frame > button {
    width: 50%;
}

#lobby {
    display: flex;
}

#player-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#player-list > li {
    margin: 0px;
    padding: 0px;
}

#player-list-container {
    max-width: 450px;
    width: auto !important;
    margin: auto auto;
}

#board-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board {
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    justify-content: center;
    align-content: center;
    grid-gap: 0px 0px;
    text-align: center;
}

.board-cell {
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    border: 1px solid black;
    cursor: pointer;
}

.board-cell:hover {
    background-color: #fff !important;
}
